.grid-container-product {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 23rem auto;
    grid-template-areas:
        'nav-bar nav-bar  '
        'filter main-product'
}

.filter-grid {
    grid-area: filter;
}

.product-list {
    grid-area: main-product;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3px;
    padding: 10px;
    min-height: 85vh;
}

@media screen and (max-width:480px) {
    .grid-container-product {
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-bar'
            'main-product'
    }

    .product-list {
        grid-area: main-product;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100vw;
    }

    .filter-grid {
        display: none;
    }
}

@media screen and (max-width:820px) {
    .grid-container-product {
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-bar'
            'main-product'
    }

    .filter-grid {
        display: none;
    }
}