.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-color);
    padding: 2rem;
    box-shadow: 0px 0px 10px var(--primary-color);
}

.handle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input-message {
    width: 25rem;
}

.margin-l-3-3 {
    margin-left: 3.3rem;
}

.margiin-l-3-5 {
    margin-left: 3.5rem;
}

.auth-btn {
    width: 100%;
}