.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    min-width: 100%;
    background-color: var(--light-black-background);
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-text {
    color: var(--secondary-white-text-color);
}

.footer-social-icons i {
    color: var(--secondary-white-text-color)
}

@media screen and (max-width:480px) {
    .footer{
        padding: 2rem;
        text-align: center;
    }
}