.profile-container {
    width: 100vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 40rem;
    min-height: 30rem;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.profile-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.field-heading {
    width: 11rem;
}

.logout:hover {
    background-color: var(--danger-text-color);
}

@media screen and (max-width:480px) {
    .profile-card{
        width: 30rem;
    }
    .field-heading {
        width: 10rem;
    }
}