.single-card {
    height: 46rem;
    width: 75rem;
    margin: auto;
    box-shadow: 0 0 10px var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-image {
    width: 35rem;
    height: 35rem;
}

.single-image img {
    width: 100%;
    height: 100%;
}

.single-details {
    width: 40rem;
    height: max-content;
}

.single-page-btn {
    width: 35rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
}

.hover:hover{
    background-color: var(--primary-color);
    color: var(--white-text-color);
}

@media screen and (max-width:480px) {
    .single-card{
        flex-direction: column;
        height: fit-content;
        width: 40rem;
        padding: 2rem 0;
    }
    .single-image {
        width: 25rem;
        height: 25rem;
    }
    .single-details {
        width: 30rem;
        height: max-content;
    }

    .single-page-btn{
        width: 30rem;
    }
}

@media screen and (max-width:830px) {
    .single-card{
        width: 70rem;
    }
}