
.product-banner {
    position: relative;
    width: 100%;
    max-height: 60vh;
    margin: 3rem auto;
    overflow: hidden;
    padding: 0;
}

.product-banner img {
    width: 100%;
    object-fit: cover;
}

.order-now {
    position: absolute;
    left: 90%;
    bottom: 37%;
    transform: translateX(-50%);
    color: var(--white-text-color);
}
@media screen and (max-width:480px) {
    .order-now {
        position: absolute;
        left: 80%;
        bottom: 10%;
        transform: translateX(-50%);
        width: 13rem;
    } 
}

@media screen and (max-width:820px) {
    .order-now {
        position: absolute;
        left: 80%;
        bottom: 20%;
        transform: translateX(-50%);
    }
    
}